body {
	background-color: hsl(0, 0%, 21%);
	min-height: 100vh;
}
nav.navbar {
	background-color: #2a2a2a;
}
a.navbar-item {
	color: white;
}
a.navbar-item:hover {
	background-color: transparent;
	color: lightgrey;
}
img {
	border-radius: 100%;
}
img:hover {
	transition: transform ease 1s;
	transform: rotate(360deg);
}
.box {
	background-color: hsl(0, 0%, 21%);
}
.title, .subtitle {
	color: white;
}
.media-content {
	overflow-y: hidden;
}
.icon:hover {
	color: lightblue;
}
